
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
  }
  
  .home-container h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .home-container button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-container button:hover {
    background-color: #45a049;
  }
  
  .home-container button:focus {
    outline:none;
}
.home-gif {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.start-gif {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
