body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

h2, h3 {
  margin: 10px 0;
}