 .content-container {
    margin-left: 50px;
  }
  
  .featured-content {
    height: 50vh;
    padding: 60px;
    background-size: cover ;
    background-repeat:  no-repeat;

  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #214e03;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }  



